<launch>

  <arg name="camera"            default="false"/>
  <arg name="image_topic"       default="/camera/image"/>
  <arg name="transport_type"    default="compressed"/>
  <arg name="video_fps"         default="10"/>
  <arg name="display_output"    default="false" />

  <!-- Start openpose_ros -->
  <node pkg="openpose_ros" type="openpose_ros_node" name="openpose_ros_node" output="screen">
    <param name="image_topic"                value="$(arg image_topic)" />
    <param name="input_image_transport_type" value="$(arg transport_type)" />
    <param name="output_topic"               value="/openpose_ros/human_list" />
    <param name="display_output"             value="$(arg display_output)" />
    <param name="print_keypoints"            value="false" />
    <param name="save_original_video"        value="false" />
    <param name="save_openpose_video"        value="false" />
    <param name="original_video_file_name"   value="original_video_output.avi" />
    <param name="openpose_video_file_name"   value="openpose_video_output.avi" />
    <param name="video_fps"                  value="$(arg video_fps)" />
  </node>

  <node pkg="image_publisher" type="image_publisher" name="camera" args="/dev/video0" if="$(arg camera)">
    <param name="publish_rate" type="double" value="30"/>
    <remap from="/camera/image_raw/compressed" to="/camera/image/compressed"/>
  </node>

</launch>