<?xml version="1.0"?>
<launch>

  <arg name="camera"            default="false"/>
  <arg name="image_topic"       default="/camera/image"/>
  <arg name="output_topic"      default="/openpose_ros/human_list"/>
  <arg name="transport_type"    default="compressed"/>
  <arg name="video_fps"         default="10"/>
  <arg name="display_output"    default="false" />
  <arg name="face"              default="false" />
  <arg name="hand"              default="false" />
  <arg name="model_pose"        default="BODY_25"/>
  <arg name="model_folder"      default="$(find openpose_ros)/models"/>

  <!-- Essentially for other nodes to be aware of the current pose model -->
  <param name="openpose_model" value="$(arg model_pose)"/>

  <!-- Start openpose_ros -->
  <node pkg="openpose_ros" type="openpose_ros_node" name="openpose_ros_node" output="screen">
    <param name="image_topic"                value="$(arg image_topic)" />
    <param name="input_image_transport_type" value="$(arg transport_type)" />
    <param name="output_topic"               value="$(arg output_topic)" />
    <param name="display_output"             value="$(arg display_output)" />
    <param name="print_keypoints"            value="false" />
    <param name="save_original_video"        value="false" />
    <param name="save_openpose_video"        value="false" />
    <param name="original_video_file_name"   value="original_video_output.avi" />
    <param name="openpose_video_file_name"   value="openpose_video_output.avi" />
    <param name="video_fps"                  value="$(arg video_fps)" />
    <param name="face"                       value="$(arg face)" />
    <param name="hand"                       value="$(arg hand)" />
    <param name="model_pose"                 value="$(arg model_pose)"/>
    <param name="openpose_model_folder"      value="$(arg model_folder)"/>
  </node>

  <node pkg="image_publisher" type="image_publisher" name="camera" args="/dev/video0" if="$(arg camera)">
    <param name="publish_rate" type="double" value="30"/>
    <remap from="/camera/image_raw/compressed" to="/camera/image/compressed"/>
  </node>

</launch>